html{
    height: 100%!important;
}

body{
    min-height: 100%;
    margin: 0
}

button, select{
    cursor: pointer;
    text-decoration: none !important;

}

.footerS{
margin-top: auto;
position:relative;
left:0;
bottom:0;
right:0;
}

select:hover, button:hover{
    background-color: rgb(84, 84, 84);
    border: rgb(84, 84, 84) 1px;
    border-radius: 4px;
}



