body{
padding: 15px;
}
.container{
    margin: auto;
    min-height: 100x;
    max-height: 100px;
    min-width: 300px;
    max-width: 350px;
    padding: 20px;
    background-color:rgb(57, 56, 56);
    display: flex;
    justify-content: center;
}
.li{
    display: flex;
    margin: 0px 0px 15px 20px;
    width: 200px;
}
.formTitle {
    display: flex;
    justify-content: center;
    margin: 0px 0px 15px 20px;
}
.buttonCtn{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.formBtn{
        margin: 5px 10px 10px 10px;
        color: black;
    
}

.filtersCtn{
    display: flex;
    justify-content: center;
    align-content: center;  
    align-items: center;

}

@media (max-width: 700px) {
    .filtersCtn{
        flex-direction: column;
    }
}
@media (min-width: 700px) {
    .filtersCtn{
        flex-direction: row;
    }
}


.filterBtn{
    margin: 10px 5px 0px 0px;
    color:black;
    text-align: center;
    max-width: 135px;
    min-width: 135px;
    
}
