.container{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.formCtn{
    border:  rgb(54, 54, 54) 2px solid;
    background-color: rgb(83, 83, 83);
}
.formTitle{
    display: flex;
    justify-content: center;
}
.aForm{
    min-width: 400px;
    max-width: 800px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;



}
.formItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 0px 0px 5px;
    padding: 10px;
    border-bottom: black 2px solid;
}
.formInputs{ 
    float: right;
    width: 100px;
    height:25px;
    outline:0; 
    box-sizing: border-box;
    text-align: center;
}
.formInputs{
    float: right;
    width: 100px;
    height:25px;
    margin: 0px 0px 0px 5px;
}

.formLabels {
    margin: 0px 0px 0px 5px;
    float: left;
    width: 30%;
    height: 25px;
}

.buttonCtn{
width: 100%;
min-height: 50px;
max-height: 50px;
display: flex;
justify-content: center;
margin: 10px 0px 0px 0px ;

}

.formBtn{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 10px 10px 10px ;
}
.addBtn{
    height: 21.9px;
    margin: 14px 0px 0px 10px ;
}