.countryImg{
    width: 100%;
    height: 80%;
    object-fit: cover;

}
.countryText{
    margin-left: 5px;
    color: rgb(245, 245, 245);
}
.detailsBtn{
    width: 80px;
    height: 40px;
    margin: auto;
    padding: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
}


.cardContainer{
    display:flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cardContainer:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
    background-color:rgb(57, 56, 56);
}